@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

.accueil {
  width: 100vw;
  height: 100vh;
	background: linear-gradient(253deg, #232526, #414345, #232526);
    background-size: 300% 300%;
    -webkit-animation: Background 15s ease infinite;
    -moz-animation: Background 15s ease infinite;
    animation: Background 15s ease infinite;
  }
  
  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.accueil-nom {
  font-family: 'Happy Monkey', cursive;
  margin: 30px auto 30px auto;
  color: white;
}
.accueil-statut {
  font-family: 'Happy Monkey', cursive;
  color: white;
}

.accueil-presentation {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.accueil-avatar {
  width: 300px;
  margin-top: 30px;
  border-radius: 150px;
}

.accueil-bouton {
  background-color: transparent;
  font-family: 'Happy Monkey', cursive;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  width: 200px;
  height: auto;
  border: 2px white solid;
  padding: 5px;
  border-radius: 20px;

}


/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
 .tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * end animation
 * ----------------------------------------
 */

 .scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/**
 * ----------------------------------------
 * animation end
 * ----------------------------------------
 */