.polygon-component {
  width: 300px;
}

.polygon-component:hover {
  transform: scale(1.1);
}


.polygon {
  height: 200px;
}

.polygon-descri {
  color: white;
  font-size: 20px;
  font-style: italic;
}